@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins&family=Roboto:wght@700&display=swap");

/*
================
Variables
================
 */
:root {
  --transition: all 0.3s linear;
}

/*
==============
Default Styles
==============
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
  /* color: rgba(255, 255, 255, 1); */
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nanum Gothic";
  color: rgb(51, 51, 51);
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 10vh 100vh 80vh 100vh 35vh 35vh; */

  /* height: 100vh; */
}

.aboutContainer {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: 10vh 100vh 80vh 70vh 30vh; */
}

.header {
  position: fixed;
  width: 100vw;
  border-bottom: 1px solid rgba(0, 0, 7, 0.05);
  background: white;
  /* padding: 30px 13%; */
  /* overflow-x: hidden; */
  /* background: orange; */
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10rem;
}

.narrow-nav {
  background: #393939;
  height: 35px;
}

.narrow-links {
  float: right;
  margin-right: 10rem;
  /* background: green; */
  width: 17%;
  padding: 0.4rem 0;
}

.narrow-ul {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 8rem;
  height: 4.5rem;
  cursor: pointer;
  /* margin-top: -0.1rem; */
}

.navbar {
  width: 50vw;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  list-style: none;

  /* background: white; */
}
.nav-links li {
  /* background: orange; */
  /* margin: 0 1rem; */
  font-size: 1rem;
  /* color: #F55212; */
  display: inline-block;
  padding: 8px 20px;
}
.nav-links li a:hover {
  color: #0088a9;
}

.nav-links .AboutCamp-link {
  color: #f55212;
}
.nav-campaign {
  border: 4px solid #f55212;
  height: 2.5rem;
  width: 7.5rem;
  padding-top: 5px;
}

.main {
  /* background: blue; */
  background-image: url("https://summit.cckorea.org/images/base/main_big.png");
}

.hgroups {
  margin: 7rem 10rem 5rem 10rem;
}

.hero-txt {
  width: 75%;
  height: auto;

  /* color: #ec5242; */
}
/* 
.creative-hero {
  display: block;
  background-image: linear-gradient(75deg, #df230e, #83361f, #ec5242);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 4rem;
  line-height: 3.5rem;
  margin-top: 10px;
} */

/* About Page */

.hero-about {
  width: 55%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about-hero-description {
  /* height: 220px; */
  display: inline-block;
  height: auto;
  font-size: 0.875em;
  background-color: white;
  width: 80%;
  border: 1px solid #dfdfdf;
  line-height: 25px;
  padding: 2rem;
  margin: 0 7rem;
  color: #333333;
  font-family: "Nanum Gothic";
  text-align: center;
  overflow-wrap: break-word;
}

.about-date {
  text-align: center;
  margin-top: 60px;
  line-height: 1.5rem;
}

.about-section-1 {
  /* background: red; */
  border-top: 4px solid rgb(246, 243, 248);
}
.about-section-1-container {
  padding: 3rem 0;
  width: 60%;
  height: auto;
  margin: 1rem auto;
  text-align: center;
}

.about-sect-1-subject {
  font-size: 2rem;
  font-weight: bold;
  /* margin-bottom: 2rem; */
}
.about-sect-1-description {
  line-height: 1.5rem;
  margin-bottom: 3rem;
}

.about-flex-img {
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
}

.about-logo-container {
  /* background: blue; */
  border: 3px solid rgb(228, 224, 224);
  width: 550px;
  height: 200px;
  padding: 1rem 8rem;
}

.about-section-2 {
  border-top: 4px solid rgb(246, 243, 248);
}
.about-footer {
  color: white;
  margin: 2rem 0;
}

.past-year-img {
  width: 48%;
  height: auto;
  justify-content: space-between;
}

/* End of About */

.hero-description {
  width: 55%;
  height: 4rem;

  border: 3px solid rgb(255, 255, 2550);
  font-size: 0.8rem;
  line-height: 1rem;
  margin-top: 10px;
  padding: 0.3rem 0.5rem;
  color: #333333;
  font-family: "Nanum Gothic";
}

.hero-schedule {
  /* background: red; */
  width: 48%;
  height: 6rem;
  padding: 1rem 0;
  line-height: 2rem;
}

.hero-date {
  font-weight: bold;
  font-size: 1.8rem;
  font-family: "Verdana", sans-serif;
  color: rgb(87, 87, 87);
}

.cards {
  /* background: green; */
  background-image: url("https://summit.cckorea.org/images/base/pattern_bg.png");
  /* margin: 0 6rem; */
  background-repeat: repeat;
  background-color: rgb(39, 42, 50);
  padding: 2rem 0;
  /* border: 1px solid brown; */
}

.cards-title {
  text-align: center;
  color: aliceblue;
  margin: 15px;
}
.sub-grid-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  /* background: gray; */
  margin: 2rem 10rem 5.5rem 10rem;
  grid-gap: 0.2rem;
  /* width: 100%; */
  height: 45%;
}
.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-items: center;
  /* margin-right: 1rem; */
  /* border: 2px solid red; */
  padding: 1rem 0.9rem;
  background: rgba(255, 255, 255, 0.1);
  /* font-size: 0.5rem; */
}
.cd-title {
  font-weight: bold;
  color: #ec5242;
  text-align: center;
  /* margin-top: -rem; */
  /* align-items: center; */
}
.cd-description {
  margin-top: 1rem;
  color: aliceblue;
  line-height: 1.5rem;
  /* margin-left: 1rem; */
  text-align: center;
}

.card-see-more {
  text-align: center;
  color: aliceblue;
  /* border-bottom: 1px solid white; */
  /* width: 6rem; */
  /* background: orangered; */
}
.line-breaker-white {
  /* border: 0.5px solid red; */
  width: 260px;
  margin: 0 auto;
}

.feautured-container {
  /* background: blue; */
  height: 80%;
}

.h2-speaker {
  color: red;
  text-align: center;
  margin: 2.5rem 0 12px 0;
  /* border-bottom: 3px solid green; */
  /* margin: 1rem 10rem; */
}

.speaker-bios {
  padding: 1.1rem 1.5rem;
}

.speaker-img {
  width: 140px;
  height: 150px;
}

.speaker-txt-1 {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.line-checker {
  background: rgb(212, 209, 209);
  width: 20px;
  margin-bottom: 0.5rem;
}

.speaker-txt-2 {
  color: #ec5242;
  margin-bottom: 0.6rem;
  line-height: 1.4rem;
  font-style: italic;
  font-weight: bold;
}
.speaker-txt-3 {
  margin-top: 0.6rem;
  line-height: 1.4rem;
}

.line-breaker {
  border: 0.5px solid red;
  width: 50px;
  margin: 0 auto;
}
.about-breaker {
  border: 0.5px solid red;
  width: 20px;
  margin: 40px auto;
}
.about-breaker2 {
  border: 0.5px solid red;
  width: 20px;
  margin: 10px auto;
}

.courses {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  /* background: rgb(102, 14, 14); */
  margin: 2rem 10rem 0 10rem;
  height: 85%;
}

.course {
  display: flex;
  /* border: 2px solid red; */
  background: white;
  padding: 1rem 0;
}

.partners {
  background: #393939;
}
.partner-cover {
  margin: 0 17rem;
  padding: 3rem 0;
}

.partner-subject {
  text-align: center;
  color: aliceblue;
  margin-bottom: 20px;
}

.partner-flex {
  width: 100%;
  display: flex;
  flex-direction: row;
  /* gap: 1rem; */
  margin-top: 3rem;
}

.partlogo {
  /* width: 70px; */
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(4deg) brightness(90%)
    contrast(10.5%);
}

.partlogo img {
  display: block;
  height: auto;
  width: 80%;
}

.partner-subject {
  color: rgb(173, 168, 168);
  font-size: "Nanum Gothic";
  font-size: large;
}

#foot-logo {
  width: 10rem;
  height: 6rem;
  cursor: pointer;
  /* margin-top: -0.3rem; */
}

footer {
  /* background: orange; */
}

.footer-cover {
  margin: 0 15rem;
  padding: 3rem 0;
}
.footer-flex {
  display: flex;
}

.foot-logo {
  margin-right: 3rem;
}
.foot-txt {
  padding: 1rem 0;
}

.foot-txt-l1 {
  margin-bottom: 1rem;
  font-weight: bold;
}

.narrow-ul > li {
  color: white;
  font-size: 0.813em;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background: purple;
  }

  /* .cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 100vh 80vh 100vh 24vh; */

  /* height: 100vh; */
}

footer {
}

.footer-bg {
  /* background: rgb(46, 46, 46); */
}
