@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

/*
================
Variables
================
 */
:root {
  --clr-primary: #272a31;
  --clr-primary-orange: #ec5242;
  --clr-grey-1: #d3d3d3;
  --clr-white: #fff;
  --ff-primary: "Lato", sans-serif;
  --ff-secondary: "Grand Hotel", cursive sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
}

/*
==============
Default Styles
==============
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--clr-grey-1);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-primary);
  color: var(--clr-primary);
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

.aboutContainer {
  display: grid;
  grid-template-columns: 1fr;
}

.header {
  position: fixed;
  width: 100vw;
  border-bottom: 1px solid rgba(0, 0, 7, 0.05);
  background: white;
}

.nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 0 9rem;
  z-index: 50;
}

.narrow-nav {
  background: #393939;
  height: 35px;
  padding-right: 5rem;
}

.narrow-links {
  float: right;
  margin-right: 10rem;

  /* background: green; */
  width: 18%;
  padding: 0.4rem 0;
}

.narrow-ul {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 8rem;
  height: 4.5rem;
  cursor: pointer;
}

.navbar {
  width: 100%;
}

.nav-links {
  width: 60vw;
  float: right;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.nav-links li a {
  font-size: 1.2rem;
  display: inline-block;
  padding: 8px 20px;
  color: var(--clr-primary);
}

.nav-links li a:hover {
  color: #0088a9;
}

.nav-links .AboutCamp-link {
  color: #f55212;
}

.nav-campaign {
  border: 4px solid #f55212;
  height: 3rem;
  width: 8rem;
}

.nav-links .closeMenu {
  opacity: 0;
}

.openMenu {
  opacity: 0;
}

.main {
  background-image: url("https://summit.cckorea.org/images/base/main_big.png");
  background-position-x: center;
  background-repeat: no-repeat;
}

.hgroups {
  margin: 190px 10rem 5rem 10rem;
}

.hero-txt {
  width: 77%;
  height: auto;
}

/* About Page */
.about-hero-container {
  width: 100%;
  height: auto;
  background: green;
}

.about-hero-toptxt {
  width: 100%;
  opacity: 0;
  height: auto;
  color: var(--clr-primary-orange);
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.4rem;
}

.hero-about {
  width: 55%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about-hero-description {
  display: inline-block;
  height: auto;
  font-size: 1.2em;
  background-color: white;
  width: 80%;
  border: 1px solid #dfdfdf;
  line-height: 2rem;
  padding: 2rem;
  margin: 0 7rem;
  color: #333;
  font-family: var(--ff-primary);
  text-align: center;
  overflow-wrap: break-word;
}

.about-date {
  text-align: center;
  margin-top: 60px;
  line-height: 2rem;
}

.about-host-email {
  text-decoration: underline;
  font-weight: bold;
}

.about-section-1 {
  border-top: 4px solid rgb(246, 243, 248);
}

.about-section-1-container {
  padding: 3rem 0;
  width: 70%;
  height: auto;
  margin: 1rem auto;
  text-align: center;
}

.about-sect-1-subject {
  font-size: 2rem;
  font-weight: bold;
}

.about-sect-1-description {
  line-height: 1.5rem;
  margin-bottom: 4rem;
  font-size: 1.2rem;
}

.about-flex-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}

.about-logo-container {
  border: 3px solid rgb(228, 224, 224);
  width: 550px;
  height: 200px;
  padding: 1rem 8rem;
}

.about-section-2 {
  border-top: 4px solid rgb(246, 243, 248);
}

.about-footer {
  color: var(--clr-grey-1);
  margin: 2rem 0;
  font-size: 1.1rem;
}

.past-year-img {
  width: 93%;
  margin-top: 30px;
}

/* End of About */

.hero-description {
  width: 55%;
  display: inline-block;
  height: auto;
  border: 3px solid rgb(255, 255, 2550);
  font-size: 1rem;
  line-height: 1.6rem;
  margin-top: 10px;
  padding: 1.5rem 0.5rem;
  color: var(--clr-primary);
  font-family: var(--ff-primary);
  overflow-wrap: break-word;
}

.hero-schedule {
  width: 48%;
  height: 6rem;
  padding: 1rem 0;
  line-height: 2rem;
}

.hero-date {
  font-weight: bold;
  font-size: 2rem;
  font-family: "Verdana", sans-serif;
  color: rgb(87, 87, 87);
}

.cards {
  /* position: relative; */
  background-image: url("https://summit.cckorea.org/images/base/pattern_bg.png");
  background-repeat: repeat;
  background-color: rgb(39, 42, 50);
  padding: 2rem 0;
  height: auto;
}

.cards-title {
  text-align: center;
  color: var(--clr-grey-1);
  margin: 15px;
  font-size: 1.2rem;
}

.sub-grid-1 {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 2rem 10rem 5.5rem 10rem;
  grid-gap: 0.2rem;
  height: 45%;
}

.card {
  display: grid;
  height: 350px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-items: center;
  padding: 1rem 0.9rem;
  background: rgba(255, 255, 255, 0.1);
}

.cd-title {
  font-weight: bold;
  color: #ec5242;
  text-align: center;
}

.cd-description {
  margin-top: 1rem;
  color: var(--clr-grey-1);
  line-height: 1.5rem;
  text-align: center;
}

.cards-bottom-line {
  position: absolute;
  bottom: -12rem;
  left: 42%;
}

.card-see-more {
  text-align: center;
  color: var(--clr-grey-1);
}

.line-breaker-white {
  width: 260px;
  margin: 0 auto;
}

.feautured-container {
  height: 80%;
}

.h2-speaker {
  color: var(--clr-primary);
  text-align: center;
  margin: 2.5rem 0 12px 0;
  text-transform: capitalize;
}

.speaker-bios {
  padding: 0.4rem 1.5rem;
}

.speaker-img {
  width: 170px;
  height: 180px;
}

.speaker-txt-1 {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
}

.line-checker {
  background: rgb(212, 209, 209);
  width: 20px;
  margin-bottom: 0.5rem;
}

.speaker-txt-2 {
  color: var(--clr-primary-orange);
  margin-bottom: 0.5rem;
  line-height: 1.4rem;
  font-style: italic;
  font-weight: bold;
}

.speaker-txt-3 {
  margin-top: 0.2rem;
  line-height: 1.4rem;
}

.line-breaker {
  border: 0.5px solid var(--clr-primary-orange);
  width: 50px;
  margin: 0 auto;
}

.about-breaker {
  border: 0.5px solid var(--clr-primary-orange);
  width: 20px;
  margin: 40px auto;
}

.about-breaker2 {
  border: 0.5px solid var(--clr-primary-orange);
  width: 20px;
  margin: 10px auto;
}

.courses {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 2rem 10rem 0 10rem;
  height: 85%;
}

.course {
  display: flex;
  padding: 1rem 0;
  margin-bottom: 3rem;
}

.partners {
  background: #393939;
}

.partner-cover {
  /* background: blue; */
  margin: 0 17rem;
  padding: 3rem 0;
}

.partner-flex {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
}

.partlogo {
  filter:
    invert(100%) sepia(100%) saturate(0%) hue-rotate(4deg) brightness(90%)
    contrast(10.5%);
}

.partlogo img {
  /* background: green; */
  display: block;
  height: auto;
  width: 80%;
}

.partner-subject {
  text-align: center;
  color: var(--clr-grey-1);
  font-family: var(--ff-primary);
  margin-bottom: 20px;
  font-size: 1.6rem;
}

#foot-logo {
  width: 10rem;
  height: 6rem;
  cursor: pointer;
}

.footer-cover {
  margin: 0 15rem;
  padding: 3rem 0;
}

.footer-flex {
  display: flex;
}

.foot-logo {
  margin-right: 3rem;
}

.foot-txt {
  padding: 1rem 0;
}

.foot-txt-l1 {
  margin-bottom: 1rem;
  font-weight: bold;
}

.narrow-ul > li {
  color: var(--clr-grey-1);
  font-size: 0.813em;
}

/* Mobile View */

@media only screen and (max-width: 768px) {
  .cards-bottom-line {
    position: absolute;
    bottom: -20rem;

    /* left: 42%; */
    left: 42%;
  }

  .nav-container {
    padding: 0 1.5rem;
  }

  .navbar {
    background: purple;
  }

  .narrow-links {
    margin-right: -50px;
    width: 30%;
  }

  .nav-links {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 30;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--clr-primary);
    transition: top 1s ease;
    display: none;
  }

  .nav-links li a {
    color: var(--clr-grey-1);
  }

  .nav-links .closeMenu {
    opacity: 1;
    position: absolute;
    top: 45px;
    left: 45px;
    font-size: 2rem;
    cursor: pointer;
    color: var(--clr-grey-1);
  }

  .openMenu {
    opacity: 1;
    top: 30px;
    left: 40px;
    font-size: 2rem;
    cursor: pointer;
  }

  .logo {
    opacity: 0;
  }

  .hgroups {
    margin: 190px 2rem 5rem 2rem;
  }

  .hero-txt {
    width: 100%;
    height: auto;
  }

  .hero-description {
    width: 100%;
    background: rgb(245, 242, 242);
    padding: 0.8rem 1.4rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  .hero-schedule {
    width: 100%;
    height: auto;
    line-height: 2rem;
  }

  .hero-date {
    font-weight: bold;
    font-size: 2.2rem;
    font-family: "Verdana", sans-serif;
    color: rgb(87, 87, 87);
  }

  .hero-venue {
    letter-spacing: 0.05rem;
  }

  .card {
    display: flex;
    height: auto;
    width: 100%;
  }

  .footer-cover {
    margin: 0 2rem;
  }

  .about-flex-img {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .sub-grid-1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    margin: 2rem 2rem 5.5rem 2rem;
  }

  .courses {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 2rem 4rem 0 4rem;
  }

  .course {
    display: flex;
    padding: 1rem 0;
    width: 100%;
  }

  .partner-cover {
    margin: 0 2rem;
  }

  /* About */

  .about-hero-toptxt {
    opacity: 1;
    font-size: 1.8rem;
  }

  /* .partner-flex {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
  } */

  .partlogo img {
    display: block;
    height: auto;
    width: 100%;
  }

  .partners {
    z-index: -4;
  }

  .cards {
    z-index: -4;
  }
}
