/* @import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins&family=Roboto:wght@700&display=swap"); */

/*
================
Variables
================
 */
:root {
  --transition: all 0.3s linear;
}

/*
==============
Default Styles
==============
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10vh 100vh 80vh 100vh 24vh;

  /* height: 100vh; */
}

.navbar {
  background: orange;
}

.main {
  background: blue;
}

.cards {
    
  background: green;
  margin: 0 6rem;
  border: 1px solid brown;
}
.sub-grid-1 {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  background: gray;
  margin: 7rem 10rem 9rem 10rem;
  grid-gap: 0.15rem;
  /* width: 100%; */
  height: 45%;
}
.card{
    /* margin-right: 1rem; */
    border: 2px solid red;
    background: white;
}

.features-courses {
  background: blue;
}

.footer {
  background: green;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background: purple;
  }

  /* .cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10vh 100vh 80vh 100vh 24vh; */

    /* height: 100vh; */
  }
}
